:root {
  /* Primary colors */

--marine-blue: hsl(213, 96%, 18%);
--purplish-blue: hsl(243, 100%, 62%);
--pastel-blue: hsl(228, 100%, 84%);
--light-blue: hsl(206, 94%, 87%);
--strawberry-red: hsl(354, 84%, 57%);

/* Neutral Colors */

--cool-gray: hsl(231, 11%, 63%);
--light-gray: hsl(229, 24%, 87%);
--magnolia: hsl(217, 100%, 97%);
--alabaster: hsl(231, 100%, 99%);
--white: hsl(0, 0%, 100%);

--border-red: 1px solid red;
--border-blue: 1px solid blue;
--border-orange: 1px solid orange;
--border-green: 1px solid green;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family:'UbuntuRegular', monospace;
}

p{
  font-size: 16px;
}

#root{
  height: 95vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: space-between;
  border: var(--border-blue);
  height: 500px;
  width: 85%;
  max-width: 900px;
  min-width: 650px;
  padding: 20px;
  border-radius: 20px;
}

nav {
  height: 100%;
  width: 30%;
  border: var(--border-green);
  border-radius: 20px;
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
} 

.nav-container{
  margin: 40px 20px;
  color: var(--light-gray);
}

.steps{
  /* border: var(--border-green); */
  display: flex;
  margin-top: 20px;
}

.page-number{
  display: inline-block;
  /* width: 30px;
  height: 30px; */
  padding: 8px 13px;
  border-radius: 50%;
  border: 1px solid white;
  color: white; 
  text-align: center;
  position: relative;
}

.active{
  background-color: var(--light-blue);
  color: var(--marine-blue);
}

.text{
  display: inline-block;
  margin-left: 10px;
  /* border: var(--border-orange); */
  position: relative;
  bottom: 0px;
}

.text p:first-child{
  font-size: 0.7rem;
  margin-top: 3px;
  margin-bottom: 2px;
}

.category{
  color: var(--white);
  font-weight: 500;
}


/* right side */

.pages {
  height: 100%;
  width: 65%;
  border: var(--border-red);
  border-radius: 20px;
  
}