:root {
  /* Primary colors */

--marine-blue: hsl(213, 96%, 18%);
--purplish-blue: hsl(243, 100%, 62%);
--pastel-blue: hsl(228, 100%, 84%);
--light-blue: hsl(206, 94%, 87%);
--strawberry-red: hsl(354, 84%, 57%);

/* Neutral Colors */

--cool-gray: hsl(231, 11%, 63%);
--light-gray: hsl(229, 24%, 87%);
--magnolia: hsl(217, 100%, 97%);
--alabaster: hsl(231, 100%, 99%);
--white: hsl(0, 0%, 100%);

--border-red: 1px solid red;
--border-blue: 1px solid blue;
--border-orange: 1px solid orange;
--border-green: 1px solid green;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body{
  font-family:'UbuntuRegular', monospace;
}

p{
  font-size: 16px;
  color: var(--cool-gray);
}

#root{
  height: 95vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  justify-content: space-between;
  border: var(--border-blue);
  height: 500px;
  width: 85%;
  max-width: 900px;
  min-width: 650px;
  padding: 20px;
  border-radius: 20px;
}

nav {
  height: 100%;
  width: 30%;
  border: var(--border-green);
  border-radius: 20px;
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
} 

.nav-container{
  margin: 40px 20px;
  color: var(--light-gray);
}

.steps{
  /* border: var(--border-green); */
  display: flex;
  margin-top: 20px;
}

.page-number{
  display: inline-block;
  /* width: 30px;
  height: 30px; */
  padding: 8px 13px;
  border-radius: 50%;
  border: 1px solid white;
  color: white; 
  text-align: center;
  position: relative;
}

.active{
  background-color: var(--light-blue);
  color: var(--marine-blue);
}

.text{
  display: inline-block;
  margin-left: 10px;
  /* border: var(--border-orange); */
  position: relative;
  bottom: 0px;
}

.text p:first-child{
  font-size: 0.7rem;
  margin-top: 3px;
  margin-bottom: 2px;
}

.category{
  color: var(--white);
  font-weight: 500;
}


/* right side */

.pages {
  height: 100%;
  width: 50%;
  /* border: var(--border-red); */
  margin-right: 50px;
  position: relative;
  
}

/* page one */

.form{
  margin: 20px 0px;
}

h1{
  margin-bottom: 10px;
}

input{
  display: block;
  width: 99%;
  margin-bottom: 30px;
  margin-top: 5px;
  border-radius: 5px;
  height: 40px;
}

.submit{
  text-decoration: none;
  border: var(--border-green);
  padding: 10px 15px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 0px;
}

/* page two */
.pageTwoForm{
  display: grid;
  grid: auto-flow/ 1fr 1fr 1fr;
  gap: 20px;
}


.select{
  display: inline-block;
  height: 140px;
  /* width: 80px; */
  border: var(--border-blue);
  margin: 20px 0px;
  border-radius: 10px;
}

.content{
  height: 82%;
  margin: 10px;
  /* border: var(--border-red); */
  position: relative;
}

.content section{
  position: absolute;
  bottom: 0;
}

.content section p{
  font-weight: 700;
}

.content section span{
  display: inline-block;
  margin-top: 5px;
  font-size: 0.8rem;
}

.toggle{
  border: var(--border-green);
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding: 10px 0 5px 0;
  border-radius: 10px;
  /* position: relative; */
}

.toggle .duration{
 /* border:var(--border-orange); */
 position: relative;
 margin: 0 20px ;
 bottom: 10px;
 font-size: 18px;

}

.toggle .bold{
  font-weight: 700;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 32px;
  /* border: var(--border-blue); */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color:  white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.go-back{
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: white;
}

/* page three */

.add-ons{
  border: var(--border-green);
  /* min-width: 300px; */
  margin-bottom: 20px;
  height: 80px;
  position: relative;
  border-radius: 10px;
}

.checkbox{
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 30px 20px;
  border: var(--border-orange);
}

.add-ons label{
  /* border: var(--border-blue); */
  position: absolute;
  bottom: 40px;
  font-weight: 700;
}

.add-ons p{
  position: absolute;
  bottom: 17px;
  left: 62px;
  font-size: 0.9rem;
}

.add-ons span{
  position: relative;
  right: 20px;
  top: 30px;
  float: right;
}

/* page 4 */

.summary-container{
  border: var(--border-red);
  border-radius: 10px;
}

.plan-summary{
  /* border: var(--border-blue); */
  height: 60Px;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

.plan-summary p{
  display: inline-block;
}

.change{
  position: absolute;
  left: 0px;
  top: 20px;
  background-color: var(--white);
}

.summary-price{
  position: absolute;
  right: 0;
  top: 10px;
}

hr{
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.extras-summary{
  /* border: var(--border-blue); */
  height: 30Px;
  /* border-radius: 10px; */
  margin: 20px;
  position: relative;
}

.extras-summary p{
  display: inline-block;
}

.extras-price{
  float: right;
}

.total{
  margin: 20px;
  /* border: var(--border-blue); */
  position: relative;
}

.total p{
  display: inline-block;
}

.total-cost{
  float: right;
}