@font-face {
  font-family: 'UbuntuBold';
  src: local('UbuntuBold'),
   url('./assets/fonts/Ubuntu-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'UbuntuMedium';
  src: local('UbuntuMedium'),
   url('./assets/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'UbuntuRegular';
  src: local('UbuntuRegular'),
   url('./assets/fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
}
